{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see .
}}

{{!
    @template block_superiframe/frame

    This template renders a url in an iframe of given size.

    Example context (json):
    {
        "user": "Admin User",
        "url": "http://moodle.dk.dev.local/blocks/superframe/view.php?blockid=20"
        "popurl": "http://moodle.dk.dev.local/blocks/superframe/block_data.php"
        "poptext": "View block data"
    }
}}
<div>
    <h3>{{#str}} welcome, block_superframe {{/str}} {{user}}</h3>
    <a href="{{{url}}}">{{#str}} viewlink, block_superframe {{/str}}</a><br>
    <a href="{{{popurl}}}" target="_blank">{{poptext}}</a>
</div>